{% extends "blog/base.html" %}

{% block content %}
    <div class="container">
        <p>All Post</p>
        {% for post in posts %}
            <div class="post">
                <h2>{{post.title}}</h2>

                <div class="post-meta">
                    By {{post.author}} . {{post.published_date}}
                </div>

                <div class="post-content">
                    {{post.content}}
                </div>
        <!-- only author can edit or delete post-->
                {% if post.author == request.user %}
                    <a href="{% url 'post-edit' post.pk %}">Edit Post</a> |
                    <a href="{% url 'post-delete' post.pk%}">Delete Post</a>
                {%endif%}
            </div>


        {% empty %}
            <p>No posts available.</p>
    <!-- <ul>
        {{post.title}}
        {{post.content}}
        {{post.published_date}}
        {{post.author}}
    </ul> -->


        {% endfor %}




    <!--add link to create new blog -->
        <a href="{% url 'create' %}">Create New Blog</a>
        <p class="total"> Toatl Post: {{total_posts}}</p>
    <!-- <p>Toatl Post: {{total_posts}}</p> -->

    </div>


{% endblock %}